
@{
    ViewBag.Title = "afterlogin";
}
<a href="~/Home/index">
    <center>
        <div style="color:gray">
            <h2>Welcome to </h2>
            <h2>Hotel Management</h2>
            <h2>System of</h2>

        </div>
        <span style="font-size:70px;">
            <span style="background-color:#8BC34A;"><span style="color:white;"> Arricie</span> <span style="color:black;">Hotel </span></span>
        </span>
        <h4 style="color:gray;">Please Enter to Continue..</h4>
    </center>
</a>