@{
    ViewBag.Title = "Home Page";
}


<div >
    <img class="img-responsive" src="~/images/holiday-vacation-hotel-luxury-(1).jpg"alt="http://www.wallpaperhd.pk/wp-content/uploads/2015/05/beautiful-hotel-simming-pool-wallpaper.jpg" style="padding:0,0;"/>
</div>
